/* RESET START */
* {
    box-sizing: border-box;
}
body {
    margin: 0;
    color: #50545e;
    font: 500 14px/1 'Exo 2', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    font-weight: normal;
}
a {
    color: inherit;
    text-decoration: none;
}
a:hover, a:active {
    text-decoration: none;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
img {
    max-width: 100%;
}
.d-block {
    display: block;
}
/* RESET END */

/* DEFAULT CLASES START */
.bg-white {
    background-color: #fff;
}
.bg-blue {
    background-color: #5693b9;
}
.bg-purple {
    background-color: #6a5991;
}
.text-white {
    color: #fff;
}
.text-blue {
    color: #5693b9;
}
.text-purple {
    color: #6a5991;
}
.bg-grey{
    background-color: #d7dce3;
}
.bg-linear-gredient-grey {
    background: linear-gradient(to right, #d7dce3 20%, #d7dce3 73%, #e9ecf0 20%);
}
/* DEFAULT CLASES END */

/* DEFAULT COMPONENT START */
.container-fluid {
    max-width: 1510px;
    margin: auto;
    /* padding: 0 15px; */
}
.container-item {
    max-width: 1450px;
    margin: auto;
}
.container-info {
    max-width: 1650px;
    margin: auto;
    padding: 0 15px;
}
.container-video {
    max-width: 1260px;
    margin: auto;
    padding: 0 15px;
}
.title,
.default-text {
    font-weight: 800;
}
.title {
    font-size: 24px;   
}
.default-text {
    font-size: 14px;
}
.default-section {
    padding: 30px 114px 0 120px;
    position: relative;
    top: -60px;
}
@media (max-width: 1199px) {
    .default-section {
        padding: 30px 24px 0 120px;
    }
}
.small-section {
    height: 165px;
    clear: both;
    position: relative;
}

/* ========== BTN ========== */
.btn {
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase; 
}
.btn:active {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
}
.btn:hover {
    color: #fff;
}
/* ========== BTN END ========== */

/* ================= HEADER ================= */
.header {
    background-color: #f2f2f2;
    padding: 10px 0;
    overflow: hidden;
    position: relative;
}
.logo-header-img {
    background-color: #fefefe;
    box-shadow: 0 1px 10px rgba(0, 0, 0, .5);
    padding: 10px 16px 10px 13px;
    border: 2px solid #c7d8e2; 
}
.header-content .btn {
    margin-left: 12px;
}
.header-content .btn.btn-info-progect {
    background-color: #a8acb3;
    color: #fff;
}
.header-content .btn.btn-info-progect:hover {
    background-color: #6eaacf;
}
.header-content .btn-info-progect .icon-info {
    padding: 4px;
    background-color: #5693b9;
    border-radius: 4px;
    margin-right: 10px;
}
.header-contact-info .btn {
    padding: 16px 63px 15px 74px;
    margin-left: 15px;
    border: 1px solid #c7d8e2;
}
@media (max-width: 1199px) {
    .header-contact-info .btn {
        font-size: 11px;
    } 
}
@media (max-width: 767px) {
    .header-contact-info .btn {
        padding: 16px 42px 15px 49px;
        font-size: 9px;
    }
}
.header-contact-info .btn.btn-call {
    color: #fff;
    background-color: #5693b9;
    border-color: #a9afc8;
}
.header-contact-info .btn.btn-call:hover {
    background-color: #6a5991;
}
.header-content {
    position: relative;
}
.bg-blue-left::before {
    content: '';
    position: absolute;
    height: 45px;
    right: 100%;
    width: 100vw;
    background-color: #5693b9;
    min-width: 100px;
}
.bg-grey-left::after {
    content: 'Меню';
    font-weight: 700;
    padding: 18px 25px;
    color: #fff;
    text-transform: uppercase;
    position: absolute;
    height: 45px;
    left: 99%;
    width: 100vw;
    background-color: #a8acb3;
}
.rectangle {
    min-width: 220px;
    height: 45px;
    width: 220px;
}
@media (max-width: 599px) {
    .logo-header-img {
        padding: 10px 2px 10px 5px;
    }
    .logo-header-img img {
        max-width: 95%;
    }
}
.form .form-header-search-input-text {
    position: relative;
    margin-left: 13px;
    border-radius: 2px;
}
.btn:active:focus, 
.btn:focus {
    outline: 0 auto -webkit-focus-ring-color;
    outline-offset: 0;
}
.form .form-header-search-input-text input {
    font-size: 12px;
    font-weight: 800;
    font-style: italic;
    color: #838997;
    width: 360px;
    padding: 14px 70px 15px 40px;
    text-transform: uppercase; 
    border-style: solid;
    border-width: 2px;
    border-color: #c0d3e0;
    border-radius: 3px;
}
.form .form-header-search-input-text a {
    position: absolute;
    padding-left: 10px;
    border-left: 2px solid #c9dae4;
    color: #5995ba;
    right: 14px;
    font-size: 20px;
    top: 13px;
}
.header-contact-phone a {
    font-size: 20px;
    color: #8e939e;
    padding-right: 18px;
}
@media (max-width: 1199px) {
    .header-contact-phone a {
        font-size: 18px;
        padding-right: 14px;
    } 
}
@media (max-width: 767px) {
    .header-contact-phone a {
        font-size: 18px;
        padding-right: 9px;
    } 
}
.header-contact-phone span {
    font-size: 14px;
    font-weight: 800;
    color: #424753;
}
@media (max-width: 1199px) {
    .header-contact-phone span {
        font-size: 12px;
    }
}
@media (max-width: 767px) {
    .header-contact-phone span {
        font-size: 11px;
    }
}
.menu-btn {
    background-color: #5693b9;
    padding: 16px 11px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 6px;
    width: 42px;
    height: 47px;
    z-index: 5;
}
@media (max-width: 599px) {
    .menu-btn {
        height: 45px;
    }
}
.menu-btn:hover {
    background-color: #6da6ca;
}
.menu-btn .btn-linear {
    height: 4px;
    background-color: #fff;
    border-radius: 1px;
}
.menu-btn .btn-linear + .btn-linear {
    margin-top: 3px;
}
/* ================= HEADER END================= */

/* ================= INNER ================= */
.inner {
    height: 45.4vh;
    background: url(../img/inner.jpg) no-repeat center / cover;
    position: relative;
    min-height: 440px;
}
.inner-content, 
.inner-md-content {
    background-color: #6a5991;
    width: 40%;
    min-width: 765px;
    height: 100%;
    margin-left: auto;
}
.inner-content .text-white {
    position: absolute;
    left: 18.5%;
    transform: translateY(60px);
}
@media (max-width: 1199px) {
    .inner-content .text-white {
        left: 15.5%;
    }
}
.inner-content .inner-nav a + a {
    margin-top: 10px;
}
.inner-content .inner-nav .read-me {
    transform: rotate(-90deg);
    margin-top: 90px;
}
.inner-content .inner-nav .read-me span {
    font-size: 12px;
    font-weight: 700;
}
.inner-content .inner-nav .read-me .far {
    margin-right: 10px;
}
.inner-content .inner-nav a {
    display: block;
    font-size: 15px;
    height: 24px;
    width: 24px;
    background-color: #a8acb3;
    text-align: center;
    padding-top: 4px;
    border-radius: 4px;
}
.inner-content .inner-nav a:hover {
    background-color: #f60f3b;
    color: #fff;
}
.inner-content .inner-nav {
    position: fixed;
    left: 10%;
    z-index: 99;
}
@media (max-width: 1199px) {
    .inner-content .inner-nav {
        left: 0%;
    }
}
.inner-md-content .card,
.inner-content .card {
    position: absolute;
    right: 14.4%;
    transform: translateY(35px);
}
.inner-content .sub-title,
.inner-content .top-title {
    font-size: 16px;
    font-weight: 800;
}
.inner-content h1 {
    font-size: 30px;
    padding: 18px 0;
}
.inner-content .buttons {
    padding-top: 20px;
}
.inner-content .buttons .btn-pdf {
    font-size: 12px;
    font-weight: 800;
    padding: 6px 6px; 
    background-color: #eff0f1;
    border: 1px solid #df8c86;
    padding: 6px 25px 7px 11px;
    border-radius: 5px;
}
.inner-content .buttons i {
    font-size: 25px;
    color: #cd3429;
    margin-right: 22px;
}
.inner-content .buttons .btn-pdf:hover {
    background-color: #efbab6;
}
.inner-content .inner-wrap .card {
    height: 300px;
    position: relative;
}
.card{
    width: 500px;
    background-color: #fff;
    padding: 20px;
    border-radius: 2px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .6);
}
.carousel {
    position: absolute;
    right: 100px;
    transform: rotate(-90deg);
    top: 164px;
}
.carousel .carousel-inner a {
    font-size: 13px;
    font-weight: 700;
    background-color: #7a69a0;
    color: #fff;
    padding: 10px 7px;
    border: 1px solid #fff;
    border-radius: 3px;
}
.carousel .carousel-inner .carousel-content {
    font-size: 12px;
    font-weight: 700;
    background-color: #7a69a0;
    color: #fff;
    text-transform: uppercase;
    padding: 11px 40px 10px 30px;
    display: inline-block;
    border: 1px solid #9f93bb;
    border-radius: 3px;
}
.inner-content .inner-wrap .sub-title {
    max-width: 347px;
    margin: auto;
}
.news-catalog .title-card .text-card {
    font-size: 22px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 10px 0 0 30px; 
}
.news-catalog-text {
    font-size: 14px;
    font-weight: 700;
    color: #5e6370;
    margin-top: 18px;
}
/* ====== inner-btn ====== */
.inner-content .buttons a.btn{
    padding: 17px 48px;
    border: none;
    margin: 0;
}
.inner-content .buttons .btn.btn-over{
    background-color: #9a89bf;
    color: #fff;
}
.inner-content .buttons .btn.btn-over:hover{
    background-color: #6a5991;
}
.inner-content .btn {
    padding: 18px 70px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .6);
    border: 1px solid;
    margin-top: 35px;
    margin-left: 0;
    display: table;
}
.inner-content .btn.btn-details{
    color: #5d6371;
    background-color: #fefefe;
    border-color: #88adc4;
}
.inner-content .btn.btn-details:hover{
    color: #fff;
    background-color: #9a89bf;
    border-color: #8a9fc2;
}
/* ====== inner-btn end ====== */

/* ================= INNER END ================= */

/* ========== why-choose-us ==========*/
.why-choose-us .title{
    font-size: 24px;
    font-weight: 800;
    display: inline-block;
    line-height: 31px;
}
.why-chose-logo{
    padding-right: 12px;
}
.why-choose-us .text-blue{
    display: block
}
.et-line-right-purple{
    border-right: 1px solid #9a89bf;
}
.why-choose-us .default-text p{
    font-weight: 800;
}
.why-choose-us .default-text{
    padding-bottom: 40px;
    padding-top: 12px;
}
.why-choose-us .padin{
    padding-bottom: 21px;
}
.why-choose-us .small-title{
    font-size: 18px;
    font-weight: 800;
    margin-bottom: 13px;
}
.why-choose-us .mor-icon{
    padding-bottom: 20px;
}
/* ========== why-choose-us end ==========*/

/* ========== item ==========*/
.standart-section {
    background: linear-gradient(to bottom, #d7dce3 20%, #fff 20%, #fff 83%, #5693b9 30%);
    padding-top: 40px;
}
.row {
    margin: 0 -15px;
}
.item{
    padding: 10px 10px 20px 10px;
    border: 1px solid #d7dce3;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
    border-radius: 4px;
    background-color: #fff;
    width: 320px;
    min-width: 300px;;
}
.item,
.item-bg{
    width: 320px; 
}
.item-col + .item-col{
    padding-bottom: 30px;
}
.item-logo{
    padding-top: 22px;
}
.item-bg{
    height: 413px;
    background: url(../img/item-progect-bg.png) no-repeat center / cover; 
    border: 13px solid;
    min-height: 446px;
    
}
.item-title-catalog{
    padding-top: 33px;
    font-size: 24px;
    font-weight: 800;
    text-transform: uppercase;
    color: #fff;
}
.item-icon{
    background-color: #fff;
    width: 66px;
    padding: 3px 3px;
    border-radius: 3px;
    margin-top: 37px;
}
.item-icon i{
    font-size: 36px;
    border: 2px solid;
    padding: 9px 14px;
    background-color: #fff;
    border-radius: 3px;
}
.btn-item-watch{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    padding: 25px 35px;
    border: none;
    border-radius: 4px; 
    margin-top: 32px
}
.another{
    border: 9px solid #5693b9; 
}
.another-complect {
    padding-top: 66px;
    border-bottom: 4px solid #c2c6cc;
    padding-bottom: 32px;
}
.another .item-text{
    padding-top: 20px; 
}
.item-info-icon {
    padding-top: 40px;
}
.btn-item-watch.btn-watch{
    background-color: #6a5991;
    color: #fff;
}
.btn-item-watch.btn-watch:hover{
    background-color: #5493be;
} 
.item-title-catalog a:hover{
    color: #fff;
}
.btn-catalog-purple{
    background-color: #e8ebf0;
    border: none;
}
.btn-catalog-purple:hover{
    background-color: #6a5991;
    color: #fff;
}
/* .item-col{
    width: calc(100% / 4);
    padding: 0 30px;
} */
.item-info-icon{
    display: inline;
    margin-right: 10px;
}
.item-info-icon img{
    padding: 4px;
    background-color: #c2c6cc;
    border-radius: 4px;
}
.item-info-icon img:hover{
    background-color: #5693b9;
}
.item-info-title{
    font-size: 12px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 25px;
    display: inline-block;
    color: #a9afb9;
}
.item-info-title a:hover{
    color: #a9afb9;
}
.item-img img {
    border-bottom: 4px solid #d7dce3;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    max-width: 89%;
}
.item-title{
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    margin: 18px 0;
}
.item-title a:hover{
    color: #5693b9;
}
.item-text p{
    font-size: 14px;
    font-weight: 800;
    color: #50545e;
}
.item .btn{
    padding: 18px 60px;
    margin-top: 30px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, .6)
}
.item .btn.btn-catalog{
    background-color: #e8ebf0;
} 
.item .btn.btn-catalog:hover{
    background-color: #5693b9;
    color: #fff;
}
/* ========== item end ==========*/

/* ========= letest-news ========= */
.letest-news .news-card {
    width: 40.3%;
    min-width: 773px;
    height: 300px;
    padding: 30px 20px 39px;
    border-radius: 4px;
    margin-left: 33px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, .6) 
}
.letest-news .news-img-right img, 
.letest-news .news-img img {
    filter: grayscale(100%);
    transition: all .3s linear;
}
.letest-news .news-img-right img:hover, 
.letest-news .news-img img:hover {
    filter: grayscale(0);
    transition: all .3s linear;
}
.letest-news .news-card + .news-card {
    margin-left: 50px;
}
.news-card .item-news-icon {
    padding-right: 10px
}
.news-card .item-news-icon img {
    padding: 4px;
    background-color: #c2c6cc;
    border-radius: 3px;
}
.news-card .item-news-icon img:hover {
    background-color: #5693b9;
}
.letest-news .news-img-right {
    padding-left: 57px;
}
.letest-news .news-img {
    padding: 5px 57px 0 0;
}
.letest-news .news-info-title {
    border-bottom: 4px solid #d7dce3;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-bottom: 7px;
}
.letest-news .news-info-title {
    font-size: 12px;
    font-weight: 800;
    color: #a9afb8;
}
.letest-news .news-title {
    font-size: 12px;
    font-weight: 800;
    color: #a9afb8;
}
.letest-news .news-title:hover{
    color: #5693b9;
}
.letest-news .title-info {
    font-size: 18px;
    font-weight: 800;
    padding: 20px 0 12px 0;  
}
.letest-news .first-btn {
    margin-top: 35px;
}
.letest-news .two-btn {
    margin-top: 11px;
}
.letest-news .btn {
    padding: 20px 62px 17px 65px;
    margin-left: 0;
}
.letest-news .btn.btn-read-news {
    color: #9aa0ae;
    background-color: #e8ebf0;
}
.letest-news .btn.btn-read-news.first-btn:hover{
    color: #fff;
    background-color: #5693b9;
}
.letest-news .btn.btn-read-news.two-btn:hover{
    color: #fff;
    background-color: #9a89bf;
}
/* ========= letest-news end ========= */

/* ========= info-section ======== */
.info-section .news-group-title {
    padding: 37px 92px 30px 0; 
}
.info-section .news-group-title .title {
    text-transform: uppercase;
    margin-right: 25px;
}
.info-section .news-group-title .all-news-title {
    font-size: 16px;
    font-weight: 500;
    text-transform: lowercase;
}
/* ========= info-section end ======== */

/* ===== video ======= */
.video .video-info-card {
    height: 400px;
    min-width: 540px;
    width: 540px;
    padding: 37px 27px 50px 47px
}
.video .video-info-card .video-title {
    border-bottom: 4px solid #d7dce3;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-bottom: 20px; 
}
.video .video-info-card .video-sub-title {
    font-size: 18px;
    font-weight: 800;
    padding: 33px 0 15px 0;
}
.video .video-info-card .video-custom-text  p {
    padding-top: 15px;
}
.video-info .news-group-video-title {
    padding: 36px 0 26px 0;
}
/* ===== video end ======= */

/* ========== item-stend =============== */
.news-group-stend-title {
    padding: 32px 105px 24px 0;
}
.news-group-stend-title .title {
    margin-right: 30px;
}
.stend-card {
    padding-bottom: 30px;
}
.item-stend {
    padding: 20px 20px 40px 20px;
    width: 20%;
    min-width: 370px;
    height: 400px;
}
.item-stend .top-title {
    font-size: 12px;
    font-weight: 800;
    border-bottom: 4px solid #d7dce3;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    padding-bottom: 12px;
    color: #a9afb8;
}
.item-stend .icon-img .border-purple {
    border: 8px solid #b9afce;
}
.item-stend .icon-img {
    border: 8px solid #c3d9e6;
    border-radius: 4px;
}
.item-stend .icon-img {
    width: 70px;
    min-width: 70px;
    height: 70px;
    text-align: center;
    padding-top: 5px;
    border-radius: 4px;
    margin-top: 30px;
}
.item-stend .stend-title {
    font-size: 18px;
    font-weight: 800;
    width: 245px;
    margin: auto;
    padding-top: 33px;
    padding-bottom: 20px;
}
.stend-col + .stend-col {
    padding-left: 60px;
}
/* ========== item-stend end =============== */

/* ========= subscribe-title ========= */
.subscribe-section {
    padding: 80px 0 30px 0;
}
.subscribe-title h4 {
    font-size: 18px;
    font-weight: 700;
}
.subscribe-title span {
    display: block;
    font-size: 14px;
    font-weight: 800;
}
.subscribe-section .standart-form .form-email input{
    border: 2px solid #cbc8dd;
    border-radius: 4px;
    padding: 17px 250px 14px 30px;
    color: #838997;
    font-size: 12px;
    font-style: italic;
    font-weight: 800;
    border-right: none;  
}
.form-email .btn-subscribe {
    padding: 20px 70px 15px 70px;
    background-color: #9a89bf;
    color: #fff;
}
/* ========= subscribe-title end ========= */

/* SMALL INNER */
.small-inner {
    height: 27.8vh;
    background: url(../img/small-inner.jpg) no-repeat center / cover;
    min-height: 270px;
    padding-top: 50px;
    position: relative;
}
.small-inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    right: -50%;
    transform: translate(-50%, -50%);
}
.small-inner-content span,
.small-inner-content h3 {
    font-size: 19px;
    font-weight: 700;
}
.small-inner-content h3{
    text-transform: uppercase;
}
.small-inner-content .contact-form {
    padding-top: 60px;
}
.small-inner-content .form-control {
    font-size: 14px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    border-radius: 0;
    padding: 0;
    width: 19%;
    color: #fff;
}
.small-inner-content .form-control + .form-control {
    margin-left: 40px;
}
.small-inner-content .form-col .btn {
    padding: 20px 90px;
    line-height: 0;
    margin-left: 40px;
}
.small-inner-content .form-col .btn.btn-add-call {
    background-color: #5693b9;
    color: #fff;
}
/* SMALL INNER END*/

/* ===== brends ====== */
.section-brends {
    clear: both;
    margin-bottom: 40px;
}
.brends {
    margin-top: 50px;
    border-top: 2px solid #bcc5ce;
    padding-top: 45px;
}
.brends a + a {
    padding-left: 50px;
}
.brends a img {
    filter: grayscale(100%);
    transition: all .3s linear;
}
.brends a img:hover {
    filter: grayscale(0);
}
/* ===== brends end ====== */
/* ===== inner-md ====== */
.inner-md {
    height: 38.1vh;
    background: url(../img/footer-inner.jpg) no-repeat center / cover;
    min-height: 370px;
}
.inner-md-content .card .adres-catalog-text {
    padding-top: 45px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.2;
}
.author-title {
    font-size: 16px;
    margin-bottom: 45px;
}
.author-img {
    margin-left: 62px
}
.autho-oll-info .title-section{
    padding-left: 45px;
}
.author-info {
    position: absolute;
    left: 18%;
    padding-top: 65px;
    transform: translateX(0%);
}
.title-section {
    font-size: 16px;
}
.title-section .user-name {
    font-size: 24px;
    font-weight: bold;
}
.title-section .number-text {
    margin-top: 18px;
}
/* ===== inner-md end====== */

/* DEFAULT COMPONENT END */

